div{
	position: absolute;
}
input{
	display: none;
}
div.tab{
	position: initial;
	display: flex;
	width: 20%;
	font-size: 20px;
	padding: 0.1em;
	margin-right: 5px;
	border: solid 2px brown;
	justify-content: center;
	align-items: center;
}
#tab{
	position: inherit;
	display: flex;
	height: 50px;
	width: 750px;
	margin-left: 100px;
	margin-bottom: 50px;
	align-items:stretch; 
	text-align: center;
	vertical-align: center;
	
}

#waku{
	position:inherit;
	width: 1024px;
	height: 768px;
}
#hp{
	margin-left: 100px;
	min-width: 300px;
	min-height: 100px;
	border: solid 1px black;
}
#hp > *{
	display: block;
	position: initial;
}
#stat{
	margin-top: 150px;
	margin-left: 100px;
	min-width: 300px;
	max-width: 300px;
	min-height: 300px;
	border: solid 1px black;
}
.stat > *{
	position:relative;
	display:inline-block;
	min-width: 150px;
}
.stat2 > *{
	position:relative;
	display:block;
	min-width: 300px;
}
.bps{
 position: initial;
 display: inline-block;
 border: solid 1px black;
 text-align: center;
 min-width: 22px;
 max-width: 22px;
 height: 22px;
}
#mobhp{
	margin-left: 450px;
	min-width: 300px;
	min-height: 100px;
	border: solid 1px black;
}
#mobhp> *{
	display: block;
	position: initial;
}
#mobstat{
	margin-top: 150px;
	margin-left: 450px;
	min-width: 300px;
	min-height: 300px;
	border: solid 1px black;
}

#tab1:checked ~ #tab>#battle {
	background-color: lightsalmon;
}