div{
	position: absolute;
}
#waku{
	width: 1024px;
	height: 768px;
}

#button1{
	text-align: center;
	vertical-align:middle;
	margin-top: 384px;
	margin-left: 412px;
	width: 200px;
	height: 80px;
	border: solid 2px black;
}
#yen{
	margin-left: 800px;
	text-align: center;
}
#buy1{
	margin-left: 800px;
	margin-top: 60px;
	min-width: 160px;
	border: solid 2px black; 
	height: 25px;
	opacity: 1;
}
#buy2{
	margin-left: 800px;
	margin-top: 90px;
	min-width: 160px;
	border: solid 2px black; 
	height: 25px;
	opacity: 1;
}
#buy3{
	margin-left: 800px;
	margin-top: 120px;
	min-width: 160px;
	border: solid 2px black; 
	height: 25px;
	opacity: 1;
}